data-science-1/env/
data-science-1/.ipynb_checkpoints/
data-science-1/__pycache__/
data-science-2/env/
data-science-2/.ipynb_checkpoints/
data-science-2/__pycache__/
data-science-3/env/
data-science-3/.ipynb_checkpoints/
data-science-3/__pycache__/
data-science-4/env/
data-science-4/.ipynb_checkpoints/
data-science-4/__pycache__/
